body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}

#app {
    background-color: #E7E7E7;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10% 0 10%;
    justify-content: center;
    z-index: 1;
    position: absolute;
}

.cat {
    background-color: white;
    width: 19%;
    margin: 1%;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.cat__img {
    width: 90%;
}

.img__parent {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.take__button {
    background-color: #2DA371;
    color: white;
    width: 90%;
    margin: 4%;
    height: 45px;
    font-size: 15px;
    position: absolute;
    bottom: 0.5rem;
}

.take__button:hover {
    background-color: #217E56;
    cursor: pointer;
    color: lightgray;
}

.submit__button {
    background-color: #2DA371;
    color: white;
    width: 50%;
    height: 45px;
    font-size: 15px;
    bottom: 0.5rem;
}

.submit__button:hover {
    background-color: #217E56;
    cursor: pointer;
    color: lightgray;
}

.cat__info {
    padding-left: 15px;
    margin-bottom: 1rem;
}

.description {
    height: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#adopt__details {
    background-color: white;
    border: 1px solid grey;
    z-index: 3;
    width: 30%;
    height: 64%;
    position: fixed;
    margin: -6% 35%;
    text-align: center;
}

#menu__items {
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-between;
    width: 30rem;
}

#menu__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30rem;
    margin-right: 2rem;
}

#choose {
    background-color: #E7E7E7;
    margin: 0;
}

#choose__text {
    margin: 0;
    padding: 3rem 8rem;
}

input {
    width: 60%;
    height: 30px;
    font-size: 20px;
    border-radius: 3px;
}

#logo {
    padding-left: 1%;
}


@media only screen and (max-width: 600px) {
.cat {
    width: 48%;
    height: 320px;
    position: relative;
    margin-top: 6.5%;
}

#app {
    padding: 0 2% 0 2%;
}

.cat__info {
    padding-left: 5px;
}

h2 {
    font-size: 20px;
}

#menu__text {
    display: none;
}

#choose__text {
    padding: 1rem 1rem 0;
}

#menu__items {
    justify-content: flex-end;
}

#logo {
    padding-left: 33%; 
}

nav {
    padding: 1rem 2rem;
}

#adopt__details {
    width: 80%;
    margin: 10% 11%;
}

}